<ion-view title="Meal Check">
      <ion-content class="has-header padding" align='center' >
        <div class="item item-divider" position='fixed'>
          <h2>Number of calories will be here</h2>
          <p>this card has to be present in workout also</p>
          <p>.</p>
          <p>.</p>
        </div>
      </ion-content>
    <ion-content class="has-header padding" align='center'>
        <ion-list align='center'>
          <ion-item>Roti!</ion-item>
          <ion-item>Chicken and Rice!</ion-item>
          <ion-item>Halal Pork :)!</ion-item>
          <ion-item>McDonalds!</ion-item>
          <ion-item>BulkSeason meals!</ion-item>
          <ion-item>Turkish food!</ion-item>
          <ion-item>Shwarma!</ion-item>
        </ion-list>
</ion-content>

</ion-view>
